.box {
    width: 400px;
    height: 150px;
    margin: 20px auto;
    background: red;
    overflow: scroll;
}
button {
    display: block;
    width: 100px;
    height: 50px;
    margin: 20px auto;
    background: red;
}